html, body {
    color: #667bb4;
    font-family: Century Gothic, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
}

html,
body,
#carousel-vavici-home,
#carousel-vavici-home div.carousel-inner,
#carousel-vavici-home div.item,
.vertical-center.wrapper,
.full-height {
    height: 100%;
}

.carousel-indicators li {
    border: 1px solid #667bb4;
}

.carousel-indicators li.active {
    background: #667bb4;
}

.full-width {
    width: 100%;
}

.vertical-center.wrapper {
    display: table;
}

.vertical-center.cell {
    display: table-cell;
    vertical-align: middle;
}

#text {
	color: white;
}

.bar {
	background: #667bb4;
}

.navbar-brand {
	padding-left: 30px;
}

ul.center-list {
	position: relative; float: left; display: block; left: 50%;
}

li.center-list {
	position: relative; float: left; display: block; right: 50%; 
}
