html, body {
    color: #667bb4;
    font-family: Century Gothic, sans-serif;
}

html,
body,
#carousel-vavici-home,
#carousel-vavici-home div.carousel-inner,
#carousel-vavici-home div.item,
.vertical-center.wrapper,
.full-height {
    height: 100%;
}

.carousel-indicators li {
    border: 1px solid #667bb4;
}

.carousel-indicators li.active {
    background: #667bb4;
}

#carousel-skip {
    position: absolute;
    right: 10px;
    bottom: 30px;
    cursor: pointer;
    z-index: 1;
}

.content {
    padding: 0 100px;
}

.full-width {
    width: 100%;
}

.vertical-center.wrapper {
    display: table;
}

.vertical-center.cell {
    display: table-cell;
    vertical-align: middle;
}

.navbar {
	background-color: #667bb4;
}

ul.navbar-nav {
    position: relative;
    float: left;
    display: block;
    left: 50%;
}

ul.navbar-nav li {
    position: relative;
    float: left;
    display: block;
    right: 50%;
}

.navbar-fixed-bottom {
    border-width: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    background-color: #667bb4;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a {
    color: #667bb4;
    background-color: #ffffff;
}