html, body {
    background-color: #667bb4;
    color: #ffffff;
    font-family: Century Gothic, sans-serif;
}

html,
body,
#carousel-vavici-home,
#carousel-vavici-home div.carousel-inner,
#carousel-vavici-home div.item,
.vertical-center.wrapper {
    height: 100%;
}

.vertical-center.wrapper {
    display: table;
}

.vertical-center.cell {
    display: table-cell;
    vertical-align: middle;
}